body {
	font-family: 'Museo', sans-serif;
	padding: 0;
	margin: 0;
	font-size: 14px;
	color: #404048;
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
}

p, div {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


div, header, footer, section, form, button, span, p {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	color: #081d42;
	margin: 0;
	padding: 0;
}

.btn {
	background: #1cb883;
	border-bottom: 5px solid #149d6f;
	color: #fff;
	font-size: 13px;
	font-weight: 700;
	padding: 11px 16px 10px 36px;
	position: relative;
	border-radius: 0;
}

.fa-phone {
	color: #46e6b0;
	font-size: 18px;
	position: absolute;
	left: 14px;
	top: 12px;
}

/*Шапка*/

.header	{
	background: #e5e6e8;
	padding: 17px 0 7px;
	border-top: 5px solid #58647a;
	border-bottom: 4px solid rgba(241,241,243,0.45);
}

.logo {
	width: 292px;
	height: 76px;
}

.menu {
	padding-top: 20px;
}

.menu__item a {
	color: #3f4b60;
	font-size: 17px;
	font-weight: 700;
	text-decoration: none;
}


.first__btn {
	margin-top: 14px;
}

/*-----CЕКЦИЯ 2----*/

.socials {
	background: #f6f6f7;
}

.socials__left {
	margin: 11px 0 16px;
}

.fa-option {
	font-size: 16.67px;
	border: 2px solid;
	display: block;
	padding: 4px;
	margin-right: 20px;
}

.fa-facebook {
	padding: 4px 7px;
	color: #3d6ca8;
}

.fa-twitter {
	padding: 4px;
	color: #43c9fd;
}

.fa-telegram {
	color: #35a9d7;
}

.socials__cursor {
	width: 9px;
	height: 18px;
	margin-left: 7px;
	margin-top: 7px;
}

.socials__text {
	font-size: 12.5px;
	font-weight: 100;
	color: #d0d4da;
	margin-left: 10px;
	line-height: 1.2em;
	margin-top: 2px;
	width: 270px;
}

.socials__search {
	position: relative;
	margin-top: 5px;
}

.socials__search input {
	border: 3px solid #eeeeef;
	border-radius: 2px;
	font-size: 13.5px;
	font-weight: 100;
	padding: 11px 0 9px 20px;
	width: 100%;
}

.socials__search input:focus {
	outline: 0;
}

.socials__search button {
	border: none;
	font-size: 16px;
	color: #bbbbbc;
	position: absolute;
	top: 11px;
	right: 30px;
	background: none;
	cursor: pointer;
}

.socials__search button:focus {
	outline: 0;
}
	

/*-----СЕКЦИЯ 3--------*/
 
.about {
 	background: #fafafb;
 }

.about__title {
 	font-weight: 700;
 	font-size: 37.5px;
 	margin: 32px 0 13px 0;
 }

.about__link {
	 margin-bottom: 45px;
}

.about__link a {
 	font-weight: 300;
 	font-size: 15.62px;
 	color: #49556b;
 	text-decoration: none;
	border-bottom: 1px solid #677081;
 
 }

 .about__link a:last-child {
 	border: none;
 }

 .about__link span {
 	color: #9b9fa6;
 }

.about__link-menu  {
	color: #49556b;
	text-decoration: none;
	border-bottom: 1px solid #677081;
}

.about__link-menu:last-child {
	color: #7e838d;
	text-decoration: none;
	border-bottom: 	none;
}

.about__link-menu:hover {
 	color: #7e838d;
 	border-bottom: 1px solid #7e838d;
 	padding-bottom: 1px;

 }

 .about__menu {
	margin-top: 62px;
}

.about__menu-item {
	padding: 12px 17px;
	border: 2px solid #fafafb;
}

.about__menu-item a {
 	color: #a1a6af;
 	font-size: 15px;
 	font-weight: 700;
 	text-decoration: none;
 	line-height: 1em;
}

.about__button span {
	font-weight: 300;	
	font-size: 12.92px;	
	display: block;
	color: #a1a6af;
}

.about__menu-item:hover .about__button {
	color: #b81c31;
}                                                   /*КАК*/

.about__menu-item:hover .about__button span {       /*МОЖНО  */    
	color: #b81c31;
}													/*ОБЬЕДЕНИТЬ*/
.about__menu-item:hover {
	border: 2px solid #b81c31;                      /*В ОДНУ ЗАПИСЬ?*/
		
}

/*CONSULT*/

.consult {
	background: url(../img/audit_bg.png) no-repeat center center / cover;
	padding: 40px;
}

.consult__title {
	font-size: 25px;
	font-weight: 700;
	width: 45%;
	color: #fff;
	line-height: 1em;
	margin: 27px 0 20px 0;
}

.consult__text {
	font-size: 15px;
	font-weight: 300;
	width: 71%;
	color: #fff;
	line-height: 1.2em;
}

.consult__list {
	border: 2px solid #acb1c2;
	border-radius: 3px;
	padding: 19px 0 22px 28px;
}

.consult__list-item {
	line-height: 2em;
}

.consult__list-item a {
	color: #fff;
	font-size: 15.42px;
	font-weight: 300;
}

.consult__list-item span {
	margin-right: 6px;
	color: #fff;
}


/*LAW*/


.law__title {
	padding-top: 57px;
	font-size: 29px;
	font-weight: 700;
	color: #081d42;
	margin-bottom: 27px;
}

.law__text {
	font-size: 15px;
	font-weight: 300;
	margin-bottom: 19px;
}

.nth {
	background: #fafafb;
	padding-bottom: 53px;
}
.navig {
	padding-top: 57px;

}

.navig__title {
	font-size: 17.92px;
	font-weight: 700;
	color: #989eaa;
	padding: 0 0 42px 26px;
	border-bottom: 1px solid #dfdfe8;
}


.navig__menu-item {
	font-size: 15.42px;
	font-weight: 700;
	padding: 16px 0 12px 26px;
	border-bottom: 1px solid #dfdfe8;
}

.navig__menu-item img {
	margin-right: 17px;
}

.navig__menu-item a {
	color: #747487;
	text-decoration: none;
	margin-top: -2px;
	line-height: 1.2em;
}

.navig__question {
	padding: 25px 0 27px 32px;
	border: 2px solid #e3e4e6;
	border-radius: 3px;
	width: 61%;
	margin-top: 16px;
	background: url(../img/navig.png) no-repeat right 11px bottom 16px;
	margin-bottom: 53px;
}

.navig__question-title {
	font-size: 16px;
	font-weight: 700;
	color: #414449;
	margin-bottom: 17px;
}

.navig__info {
	margin-bottom: 16px;
}

.navig__form {
	color: #b81c31;
	border: 2px solid #b81c31;
	border-radius: 2px;
	margin-right: 16px;
	padding: 12px 19px;
}

.navig__form:hover {
	text-decoration: none;
	background: #b81c31;
	color: #fff;
}

.navig__phone {
	color: #585f6b;
}

.navig__phone:hover {
	text-decoration: none;
	color: #585f6b;
}

.navig__text {
	color: #888d95;
	font-size: 12px;
	font-weight: 300;
	width: 65%;
}

 /*КОНТАКТЫ*/

.contact {
	background: #3a4456;
}

.contact__title {
	color: #caccd0;
	font-size: 19px;
	font-weight: 700;
	margin-bottom: 20px;
}

.contact__list-item a {
	font-size: 14px;
	font-weight: 300;
	color: #a7aab0;
	text-decoration: none;

}

.contact__first {
	padding-top: 40px;
}

.contact__second {

	padding: 48px 0 45px;
}

/*ФУТЕР*/

.footer	{
	background: #1f2531;
	color: #adaeb0;
	font-size: 12px;
	padding-bottom: 43px;
	border-bottom: 18px solid #58647a;
}

.footer__text {
	font-weight: 100;
	margin-top: 35px;
}

.footer__text-second {
	margin-top: 14px;
}

.footer__author-left {
	padding: 5px 7px 3px 7px;
	border: 1px solid #acafb3;
	margin-right: 7px;
	font-size: 15px;
}

.footer__author {
	margin-top: 35px;
}

.footer__author-right span {
	text-transform: uppercase;	
}

.footer__security {
	margin-top: 28px;
}

.footer__security span {
	font-weight: 700;
}

.footer__security a {
	color: #9fa0a3;
	font-size: 12px;
	border-bottom: 1px solid #64676d;
	text-decoration: none;
}

.footer__btn {
	margin-top: 68px;
}